<div class="news-container">
  <mat-form-field class="example-form-field">
    <mat-label>Search news</mat-label>
    <input matInput type="text" [(ngModel)]="searchStr" />
  </mat-form-field>
  <div *ngIf="!loading; else loadingBlock">
    <ul class="list">
      <mat-card
        class="card"
        *ngFor="
          let element of news
            | paginate: { itemsPerPage: 10, currentPage: p }
            | searchPosts: searchStr;
          "
      >
        <div class="image-container">
            <img mat-card-image src="{{ element.urlToImage }}" alt="def" />
        </div>
        <p>{{element.id}}</p>
        <mat-card-title>{{ element.title }}</mat-card-title>
        <mat-card-subtitle>{{ element.content }}</mat-card-subtitle>
      </mat-card>
    </ul>
  </div>
  <pagination-controls
    class="controls"
    (pageChange)="p = $event"
  ></pagination-controls>

  <ng-template #loadingBlock>
    <h1>Loading...</h1>
  </ng-template>
</div>
